- const images = ["img/perfil/perfil1.png", "img/perfil/perfil2.png", "img/perfil/perfil3.png", "img/perfil/perfil4.png"];
- const name = ["Michael Wong", "Gus Fring", "Walter White", "Gus Fring, Walter White"]
- const message = ["Connecting Call", "We need to re-asses our strategy.", "Sometimes, it's better not to talk.", "Walter: We're sensible business..."]
- const date = ["7:47 PM", "Oct 31", "Oct 30", "Oct 30"]